{% load static %}
<head>
    <style>
        .main {
            margin-left:160px;
            padding:0px 10px;
            height:100%;
            position: fixed;
            left:0;
            padding-left:60px;
        }
        .sidenav {
            height:100%;
            width:160px;
            position: fixed;
            left:0;
        }
    </style>
    <title>{{ title }}</title>
</head>
{% for u in UserSettings %}
<h3>Hello, {{u.first_name}}!</h3>
{% endfor %}
<body>
<div class="sidenav">
    {% for m in menu %}
    <ul><a href="{% url m.url_name %}"><h2>{{m.title}}</h2></a></ul>
    {% endfor %}
</div>
<div id="content" name="content" class="main">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>