<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
</head>
<body>

{% for message in messages %}
<p>{{message}}</p>
{% endfor %}

{% if page == 'login' %}
<form method="post" action="">
    <h1>Login</h1>
    {% csrf_token %}
    <input type="text" name="user_name" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit">
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</form>
{% else %}
<form method="post">
    <h1>Register</h1>
    {% csrf_token %}
    {% for f in form %}
    <div>
        <label>{{f.label}}</label>
        {{f}}
    </div>
    {% endfor %}
    <input type="submit">
    <p>Already have an account ? <a href="{% url 'login_user' %}">Login</a></p>
</form>
{% endif %}
</body>
</html>