{% extends 'socialnet/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<style>
    .main .messages {
        position: fixed;
        left:180px;
    }

</style>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" value="submit">Save</button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}
